<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Java API Form</title>
</head>
<body>
    <h1>Send Name to Java API</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}

    {% if apiResponse %}
        <h2>Response from Java API:</h2>
        <p>{{ apiResponse }}</p>
    {% endif %}
</body>
</html>
