{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/Task.js') }}"></script>
{% endblock %}


{% block title %}Hello JobTaskController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <div class="container mt-5">
        <h2 class="mb-4">Task List</h2>

        <table class="table">
            <thead class="table-dark">
            <tr>
                <th scope="col"><h5>Title</h5></th>
                <th scope="col"><h5>Description</h5></th>
                <th scope="col"><h5>Created</h5></th>
                <th scope="col"><h5>Completed</h5></th>
                <th scope="col"><h5>Done</h5></th>
                <th scope="col"><h5>Delete</h5></th>
            </tr>
            </thead>
            <tbody>

                {% for task in jobTasks %}
                    <tr >
                        <td>{{ task.title}}</td>
                        <td>{{ task.description}}</td>
                        <td>{{ task.createdAt|date('Y-m-d H:i:s') }}</td>
                        <td>{{ task.completed ? 'YES' : 'NO' }}</td>
                        <td style="cursor:pointer; color:blue" onclick="markJobDone({{ task.id }})"  >DONE </td>
                        <td style="cursor:pointer; color: red" onclick="deleteTask({{ task.id }})" id="{{ task.id }}">DELETE</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>


    <div class="example-wrapper">
      <h3>Add New Task</h3>
    <input  title="Title" placeholder="Title" id="taskTitle" >
        <input type=text title="Description" placeholder="Description" id="taskDsc" >
        <input type=submit title="Add"  onclick="addTask()" id="TaskSubmit" >



    </div>
{% endblock %}
