{% extends '../../base.html.twig' %}


{% block javascripts %}
    <script src="{{ asset('js/Product.js') }}"></script>
{% endblock %}

{% block title %}Products{% endblock %}

{% block body %}
    <div class="container mt-4">

        <h1 class="mb-4">Product List</h1>


        <div class="card p-4 mb-4 shadow-sm">
            <h2 class="h5 mb-3">Add a Product</h2>

            {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.name) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.code) }}
                {{ form_widget(form.code, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.code) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.description) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.price) }}
                {{ form_widget(form.price, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.price) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.imgUrl) }}
                {{ form_widget(form.imgUrl, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.imgUrl) }}
            </div>

            <button type="submit" class="btn btn-primary">Add Product</button>
            {{ form_end(form) }}
        </div>

        <h2 class="h5">Available Products</h2>

        <table class="table">
            <thead class="table-dark">
            <tr>
                <th scope="col"><h5>Code</h5></th>
                <th scope="col"><h5>Name</h5></th>
                <th scope="col"><h5>Description</h5></th>
                <th scope="col"><h5>Price</h5></th>
                <th scope="col"><h5>Photo</h5></th>
                <th scope="col"><h5>Edit</h5></th>
                <th scope="col"><h5>Delete</h5></th>
            </tr>
            </thead>
            <tbody>

            {% for product in products %}
                <tr >
                    <td>{{ product.code}}</td>
                    <td>{{ product.name}}</td>
                    <td>{{ product.description}}</td>
                    <td>{{ product.price}}</td>
                    <td>
                        <img src="{{ asset('uploads/' ~ product.imgUrl) }}"
                             alt="{{ product.name }}"
                             width="150"
                             style="border:1px solid #ccc; padding:5px;"/>
                    </td>
                    <td style="cursor:pointer; color:blue"  >Edit </td>
                    <td>         {# Delete form #}
                        <form method="post" action="{{ path('app_product_delete', {id: product.id}) }}"
                              onsubmit="return confirm('Are you sure you want to delete this product?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </form></td>
{#                    <td style="cursor:pointer; color: red" onclick="deleteProduct({{ product.id }})" >DELETE</td>#}
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
{% endblock %}
